mux-player {
  /* Hide all controls at once */
  /* --controls: none; */

  /* Hide the error dialog */
  /* --dialog: none; */

  /* Hide the loading indicator */
  --loading-indicator: none;

  /* Target all sections by excluding the section prefix */
  /* --play-button: none; */
  --live-button: none;
  --seek-backward-button: none;
  --seek-forward-button: none;
  /* --mute-button: none; */
  /* --captions-button: none; */
  --airplay-button: none;
  --pip-button: none;
  /* --fullscreen-button: none; */
  /* --cast-button: none; */
  --playback-rate-button: none;
  --volume-range: none;
  /* --time-range: none; */
  --time-display: none;
  --duration-display: none;
  --rendition-menu-button: none;

  /* Target a specific section by prefixing the CSS var with (top|center|bottom) */
  /* --center-controls: none; */
	/* --bottom-controls: none; */
  /* --bottom-play-button: none; */
}


mux-player::part(center play button),
mux-player::part(bottom mute button),
mux-player::part(bottom play button),
mux-player::part(bottom fullscreen button),
mux-player::part(bottom captions button) {
	--media-control-hover-background: #333;
}

mux-player::part(bottom time) {
	--media-range-bar-color: #333;
	--media-range-thumb-background: #333;
}

@media (hover: none) {
	mux-player::part(center play button),
	mux-player::part(bottom mute button),
	mux-player::part(bottom play button),
	mux-player::part(bottom fullscreen button),
	mux-player::part(bottom captions button) {
		--media-control-hover-background: transparent;
	}
}

mux-player.hidden-mux-controls::part(center play button),
mux-player.hidden-mux-controls::part(bottom mute button),
mux-player.hidden-mux-controls::part(bottom play button),
mux-player.hidden::part(bottom fullscreen button),
mux-player.hidden-mux-controls::part(bottom captions button),
mux-player.hidden-mux-controls::part(bottom time) {
	opacity: 0 !important;
	pointer-events: none !important;
}